
  <nav class="navbar navbar-toggleable-md navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-nav" routerLink="" style="color:white;">Epicodus Project Startups</a>
    <a class="navbar-nav" routerLink="about" style="color:white;">About</a>
    <a class="navbar-nav" routerLink="home" style="color:white;">Home</a>
    <a class="navbar-nav" routerLink="admin" style="color:white;">Add A Project</a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
    <a class="nav"></a>
  </nav>


<!-- <nav class="navbar navbar-inverse bg-inverse">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Epicodus Project Startups</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a routerLink="about">About</a></li>
      <li class="nav-item"><a routerLink="home">Home</a></li>
      <li class="nav-item"><a routerLink="admin">Add a Project</a></li>
    </ul>
</div>
</nav> -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="font-weight-light" routerLink="admin">Admin</a>
  </div>
</footer>
