<form>
  <div class="form-group">
    <div class="panel-heading">
      <h1 class="panel-title text-primary">Add New Project</h1>
    </div>
    <div class="panel-body">
      <div>
        <div>
          <label>Project Name:</label>
          <br>
          <input class="form-control" #newProjectName>
        </div>
        <div>
          <label>Product Image:</label>
          <input type="file" (change)="featuredPhotoSelected($event)" #newImage>
        </div>
        <div>
          <label>Manager/Company Name:</label>
          <br>
          <input class="form-control" #newManagerName>
        </div>
        <div>
          <label>Fundraising Goal:</label>
          <br>
          <input class="form-control" #newGoal>
        </div>
        <div>
          <label>Product Description:</label>
          <br>
          <textarea class="form-control" #newDescription></textarea>
        </div>
        <div>
          <label>Rewards</label>
          <br>
          <textarea class="form-control" #newRewards></textarea>
        </div>
        <button class="btn btn-primary"(click)="submitForm(newProjectName.value, newManagerName.value, newGoal.value, newDescription.value, newRewards.value); newProjectName.value=''; newManagerName.value=''; newGoal.value=''; newRewards.value=''">Add</button>
      </div>
    </div>
  </div>
</form>
<div class="edit-title">
  <h1 class="text-info">Edit Projects:</h1>
</div>
<div>
  <app-home></app-home>
</div>
